absl-py==0.9.0
aniso8601==8.0.0
asn1crypto==0.24.0
astor==0.8.1
bleach==1.5.0
Click==7.0
cryptography==2.1.4
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
html5lib==0.9999999
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.1.4
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
numpy==1.17.4
opencv-contrib-python==4.2.0.32
pandas==0.25.3
pika==1.1.0
protobuf==3.11.2
psycopg2==2.8.4
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.2
scipy==1.4.1
SecretStorage==2.3.1
six==1.13.0
SQLAlchemy==1.3.12
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
Werkzeug==0.16.0

