<!-- <div class="row">
    <div class="col">
        <select [(ngModel)]="engine_api.working_pair" class="custom-select">
            <option *ngFor="let pair of pairs">{{pair}}</option>
        </select>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <app-chart></app-chart>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body card-body-color">
                <div class="row">
                    <div class="col">
                        <app-limit-orders></app-limit-orders>
                    </div>
                    <div class="col">
                        <app-wallet></app-wallet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <app-open-orders></app-open-orders>
    </div>
</div>
<br>