.card-body-color{
    background-color: whitesmoke;
}
.body_color {
    height: 100%;
    background-color: #000000;
}
.container-fluid {
    height: 100%;
}

.limit-top-div-hight{
    min-height: 80px;
    max-height: 80px;
}

.my-custom-scrollbar {
    position: relative;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}

.my-custom-scrollbar thead th {
    position: sticky;
    top: 0;
}

.table-wrapper-scroll-y {
    display: block;
}

.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
}

.row{
    width: auto !important;
}



.mcanvas {
    width: 800px;
    height: 300px;
}