.my-custom-scrollbar {
    position: relative;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
}

.my-custom-scrollbar thead th {
    position: sticky;
    top: 0;
}

.table-wrapper-scroll-y {
    display: block;
}