<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body card-body-color">
        <h4 class="card-title">Limit orders</h4>
        <div class="row">
            <div class="col">
                <h6> Working Pair: {{engine_api.working_pair}}</h6><br>
                <input #price type="number" class="form-control" placeholder="Price"><br>
                <input #amount type="number" class="form-control" placeholder="Amount"><br>
                <div class="row">
                    <div class="col">
                        <div role="group" class="btn-group">
                            <button (click)="select_side()" [class]="side[1]" type="button">Sell</button>
                            <button (click)="select_side()" [class]="side[2]" type="button">Buy</button>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        <button (click)="place_order(price.value, amount.value)" class="btn btn-primary" type="button">Place Order</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>