<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body card-body-color">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <button (click)="plot_chart()" class="btn btn-primary">PLOT
                            "{{engine_api.working_pair}}"</button>
                    </div>
                    <div class="col">
                        <select [(ngModel)]="days" class="custom-select">
                            <option value="60">2m</option>
                            <option value="90">3m</option>
                        </select>
                    </div>
                    <div class="col">
                        <h6>Bar height is the confidence</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body card-body-color">
                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>