<div class="row">
    <div class="col">
        <app-chart></app-chart>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body card-body-color">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <app-limit-orders></app-limit-orders>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-wallet></app-wallet>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <app-chart-live></app-chart-live>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-open-orders></app-open-orders>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>