<div class="row">
    <div class="col">
        <div class="fixed-top">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body card-body-color">
                    <div id="navbarToggleExternalContent" class="collapse">
                        <div class="row">
                            <div class="col-2">
                                <button (click)="logout()" class="btn-sm btn-danger">
                                    Log Out {{in_user}}
                                    <!-- loading spinner -->
                                    <div *ngIf="show_loading" class="col">
                                        <div class="spinner-grow text-info" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="col-3">
                                <h6>All Live Users: {{live_users}}
                                    <!-- loading spinner -->
                                    <div *ngIf="show_loading" class="col">
                                        <div class="spinner-grow text-info" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="row">
                        <!-- <div class="col">
                            
                        </div> -->
                        <div class="col">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li>
                                    <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse"
                                        data-target="#navbarToggleExternalContent"
                                        aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                        aria-label="Toggle navigation">User
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#exchange" role="tab"
                                        aria-controls="pills-home" aria-selected="false">Exchange</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#bots" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Bots</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <select [(ngModel)]="engine_api.working_pair" class="custom-select">
                                <!-- <option value="0">Select Pair!</option> -->
                                <option *ngFor="let pair of pairs" [value]="pair">{{pair}}</option>
                            </select>
                        </div>
                        <div *ngFor="let item of pair_prices_to_show" class="col">
                            <div [class]="item[2]">{{item[0]}} : {{item[1]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col">
        <div class="tab-content">
            <div id="exchange" class="tab-pane fade in active">
                <app-exchange></app-exchange>
            </div>
            <div id="bots" class="tab-pane fade">
                <app-bots></app-bots>
            </div>
        </div>
    </div>
</div>